<h1>All Users</h1>
<table>
    <th>Name</th>
    <th>Total Griminess</th>
    <%@users.each do |u|%>
        <tr>
            <td><%=link_to u.name, user_path(u)%></td>
            <td><%=u.griminess%></td>
        </tr>
    <%end%>
</table>
