<div id=allgrimes>
<h1 id='all-grimes-title'>All Grimers</h1>
<table id='grimes-table'>
    <th>Name</th>
    <th>Total Griminess</th>
    <%@users.each do |u|%>
        <tr>
            <td><%=link_to u.name, user_path(u)%></td>
            <td><%=u.griminess%></td>
        </tr>
    <%end%>
</table>
