<%= stylesheet_link_tag 'home.css'%>

<section>
    <div id="title" class="container text-center">
        <div class="row">
            <div class="col">
                <h1>The Grime Report </h1>
            </div>
        </div>
    </div>
    <div id="icon">
        <i class="fas fa-chevron-circle-down submit bounce"></i>
    </div>
</section>
