@import "bootstrap/scss/bootstrap";
body{
    // background: url("PKT.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color:rgb(187, 209, 223);
    font-family: 'Khand', sans-serif;
    letter-spacing: 5px;
}

.nav-link{
    /* background-color: rgb(255, 255, 92); */
    color:rgb(137, 255, 122);
    font-weight: 500;
    font-size: 1.5rem;
    position: relative;
    text-transform: uppercase;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 1px solid pink;*/
}


nav{
    /* background-color: pink; */
    color: pink;
} 

.navbar{
    border-bottom: 5px solid pink;
    background-color: white;
}

.nav-item {
    margin-right: 1rem;
}
.active{
    background-color: pink;
}

.active:hover{
    background-color: pink;
}

#allgrimes{
    text-align: center;
    width: 50%;
    margin: 5rem auto;
    background-color: pink;
    border-radius: 3rem;
    border: solid white 1rem;
    padding: 2rem;
}

#all-grimes-title{
    border-bottom: solid white .5rem;
    width: 80%;
    margin: auto;
}
#grime-list{
    margin: 1rem;
}

#grime-list-item{
    color: pink;
}

#grimes-table{
    margin: auto;
    margin-top: 1rem;
}

#grime-form{
    width: 50%;
    text-align: left;
    margin: auto;
    margin-top: 1rem;
}
// #user-grime-table{
//     margin: auto;
// }

/* .navbar-brand{
    font-size: 1.75rem;
    font-weight: 800;
} */