@font-face {
    font-family: 'Rock Salt', cursive;
    src: url('assets/fonts/RockSalt-Regular.ttf')
 } 

h1{
    font-family: 'Rock Salt', cursive;
    color: white;
    text-shadow: 4px 4px pink, 6px 6px rgb(122, 147, 255), 10px 5px 1px #2b2b2b96, 15px 15px 10px #acabab96;
}